.rightPanel {
  background-color: #232e4c;
  max-width: 400px;
  padding: 15px;
  border-radius: 16px;
  margin-left: auto;
  color: white;
  word-break: break-word;
}

.chatUser span {
  font-size: 12px;
}

.leftPanel {
  background-color: white;
  max-width: 400px;
  padding: 15px;
  border-radius: 16px;
  margin-right: auto;
  word-break: break-word;
}

.chatHeading {
  padding: 25px 16px;
  text-align: center;
  background-color: #232e4c;
  color: aliceblue;
  border-bottom: 2px solid white;
}

.messageArea {
  height: 80vh;
  overflow: auto;
  background-color: #e4e4e4;
}

.sendButton {
  background: #232e4c;
  color: white;
}

.gridContainer {
  padding: 17px 10px;
}
